html {
  font-size: 16px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

h4 {
  margin: 0px;
  font-family: 'Arvo', serif;
  font-size: 24px;
}

.App {
  text-align: center;
}

#left-menu {
  width: 20%;
  height: 100vh;
  position: fixed;
  left: 0;
  padding-top: 40px;
  right: auto;
  background-color: #19191A;
}

#right-menu {
  position: absolute;
  left: 20%;
  width: 80%;
  background-color: #19191A;
}

#top-menu {
  background-color: #19191A !important;
}

#bottom-menu {
  background-color: #19191A;
}

.primary-font {
  font-family: 'Arvo', serif;
}

.secondary-font {
  font-family: 'Arvo', serif;
}

.section .title {
  font-style: italic;
  font-weight: 700;
}

.caption {
  color: #FF8945;
  padding-bottom: 5px;
}

.tech-icon {
  color: #fff;
  font-size: 32px !important;
  padding-right: 5px;

  -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
  transition: color .5s; /* For modern browsers */
}

.tech-icon:hover {
  color: rgb(124, 143, 252);
}

.icon__wrap {
  position: relative;
  justify-content: center;
  align-items: center;
}

.icon__description {
  position: absolute;
  font-family: 'Arvo', serif;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  color: #000;

  top: -45px;
  bottom: 40px;
  left: -35px;
  right: -35px;
  background: rgb(255, 255, 255);

  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.icon__description:hover {
  color: #000;
  text-decoration: none;
}

.icon__wrap:hover .icon__description {
  visibility: visible;
  opacity: 1;
}

.img__wrap {
  position: relative;
  justify-content: center;
  align-items: center;
}

.img__description {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .3s, visibility .3s;
}

a {
  color: #8ebf42;
}

a.img__description:hover {
  color: white;
  text-decoration: none;
}

a.button__text {
  text-decoration: none;
}

a.button__text:hover {
  text-decoration: none;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/* Nav Link */

button {
  background-color: transparent;
  border: none;
}

.nav-link {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px;

  -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
  transition: color .5s; /* For modern browsers */
}

.nav-link:hover {
  cursor: pointer;
  color: rgb(124, 143, 252);
}

.primary-color {
  color: #FFFFFF;
  background-color: #19191A;
}

.secondary-color {
  color: #FFFFFF;
  background-color: #303030;
}

.tertiary-color {
  color: #FFFFFF;
  background-color: #1e1e1e;
}

.background-accent {
  color: #FFFFFF !important;
  background-color: #FF8036 !important;

  -webkit-transition: background-color 500ms linear !important;
  -ms-transition: background-color 500ms linear !important;
  transition: background-color 500ms linear !important;
}

.background-accent:hover {
  background-color: #FF9C63 !important;
}

.full-height {
  min-height: 100vh;
}

.header {
  color: #0B67C2;
  font-family: 'Arvo', serif;
  font-size: 28px;
  padding: 20px 0px;
}

.section {
  padding: 0px 50px;
  max-width: 100%;
}

.section-item {
  border-radius: 10px;
}

.title {
  font-size: 3vmin;
}

.subtitle {
  font-size: 2vmin;
}

.about-item.title{
  color: #FF8945;
  font-size: 2.5vmin;
}

.about-item.subtitle{
  font-size: 1rem;
}

#right-menu .about-item.body{
  font-size: 2vmin;
  line-height: 3vmin;
}

/* Mobile */

.white {
  color: white;
}

.orange {
  color: #FF8945;
}

#top-menu .title {
  font-size: 1.5rem;
  text-align: center;
}

#top-menu .subtitle {
  color: white; 
  font-size: 16px;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 40px; 
}

#bottom-menu .about-item {
  padding: 10px 0px;
}

#bottom-menu .section {
  height: 100%;
  padding: 0px;
}

#bottom-menu .section-description {
  border-radius: 10px;
  padding: 0px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bottom-menu .header {
  padding-top: 40px;
  padding-bottom: 20px;
}

/* Used for skip-nav */

.centered {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}