.App {
  text-align: center;
}

.left-menu {
  height: 100vh;
  position: fixed;
  width: 25%;
  left: 0;
  padding-top: 40px;
  right: auto;
  background-color: #382d2d;
}

.right-menu {
  position: absolute;
  left: 25%;
  width: 75%;
  background-color: #1e1e1e;
}

.top-menu {
  background-color: #382d2d;
}

.bottom-menu {
  background-color: #1e1e1e;
}

.primary-font {
  font-family: 'Audiowide', cursive;
}

.secondary-font {
  font-family: 'Arvo', serif;
}

.segment .title {
  font-style: italic;
  font-weight: 700;
}

.tech-icon {
  color: #fff;
  font-size: 24px !important;
  padding-right: 5px;

  -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
  transition: color .5s; /* For modern browsers */
}

.tech-icon:hover {
  color: rgb(124, 143, 252);
}

.img__wrap {
  position: relative;
  justify-content: center;
  align-items: center;
}

.img__description {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .3s, visibility .3s;
}

a.img__description:hover {
  color: white;
  text-decoration: none;
}

a.button__text {
  text-decoration: none;
}

a.button__text:hover {
  text-decoration: none;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}

/* Nav Link */

.nav-link {
  color: rgb(255, 255, 255);
  font-size: 28px;
  text-decoration: none;
  padding: 10px;

  -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
  transition: color .5s; /* For modern browsers */
}

.nav-link:hover {
  color: rgb(124, 143, 252);
}

.primary-color {
  color: #FFFFFF;
  background-color: #1e1e1e;
}

.secondary-color {
  background-color: #303030;
}

.segment.primary-color{
  padding: 10%;
}

.segment.secondary-color{
  padding: 10%;
}

/* Used for skip-nav */

.centered {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}